.search-menu button, p, label {
  color: var(--text-color) ;
}

.library-container {
  margin: 0 10rem;
  overflow: hidden;
  border: 1px solid var(--container-border);
  border-top: none;
  max-width: 80vw;
  height: 75vh;
  display: flex;
  background: linear-gradient(
    135deg,
    var(--container-color) 0%,
    var(--container-gradient) 100%
  );
  background-size: 200% 200%;
  transition: background-position 0.5s ease;
}

.library-content {
  display: flex;
  width: 100%;
  height: 100%; 
}
.library-content nav {
  border: none;
  background-color: transparent;
}

.articles-compilation {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-auto-rows: 9rem;
  grid-auto-flow: dense;
  padding: 0.5rem;
  overflow-y: auto;
  /* border: 1px solid rgb(65, 110, 42);
  background-color: rgb(242, 242, 229); another style */
  height: 100%; 
  background: linear-gradient(
    135deg,
    var(--photo-container-color) 0%,
    var(--container-gradient) 100%
  );
  background-size: 200% 200%;
  transition: background-position 0.5s ease;
}
.articles-compilation figure {
  /* container-type: inline-size; */
  container: figure / inline-size;
  overflow: hidden;

  display: grid;
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: 1fr; */

  /*
    Because 1fr = minmax(auto, 1fr),
    to prevent the grid blowout,
    set the minimum to zero.
  */
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  position: relative;
}
.articles-compilation img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;

  grid-area: 1 / 1 / -1 / -1;
}
.articles-compilation figcaption {
  grid-area: 1 / 1 / -1 / -1;
  align-self: end;
  z-index: 1;

  padding: 3em 15% 1em 1em;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.3;
  background: linear-gradient(transparent 25%, rgb(0 0 0 / 0.75));
}
figcaption h3 {
  color: #fff;
  margin-bottom: 5px;
}
.article-card {
  /* border: 1px solid rgb(206, 142, 45); another style*/
   border: 1px solid var(--library-photos-border)
}
.article-card:hover {
  cursor: pointer;
  filter: brightness(110%);
}
.card-stats {
  display: flex;
  gap: 0.2rem;
}
.card-stats svg{
  width: 20px;
  height: 20px
}
.stats-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem 0.6rem;
  border-radius: 10px;
  background-color: #fff;
  opacity: 0.8;
}
.stats-wrap p{
  margin-left: 5px;
  color: black;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
}

.library-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@container figure (width > 20rem) {
  .articles-compilation figcaption {
    display: block;
  }
}
@media (width > 600px) {
  .articles-compilation figure:nth-child(1) {
    grid-area: span 2 / span 2;
  }

  .articles-compilation figure:nth-child(4n + 1) {
    grid-row: span 2;
  }

  .articles-compilation figure:nth-child(4n + 2) {
    grid-column: span 2;
  }
}

@media(min-width: 1290px) {
  .articles-compilation {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    grid-auto-rows: 10rem;
  }
  .search-month ul {
    font-size: 1.5rem;
    grid-template-columns: 1fr 1fr;
  }
  .search-menu {
    flex: 0.3;
  }
}
