:root {
  --bg-color: #ffffff;
  --text-color: #2f2f2f;
  --container-color: #dddbdb52;
  --container-gradient: rgba(255, 255, 255, 0.2);
  --container-border:#000000;
  --photo-container-color: #cfcfcf35;
  --nav-bg-color: #ffffff;
  --title-color: #000000;
  --nav-border: #000000;
  --nav-links: #000000;
  --article-title-color: #2f2f2f;
  --article-bg-color: #cfcfcf35;
  --article-like-chat: #2f2f2f;
  --tags: orange;
  --tags-hover-article: #e6851a;
  --arrows: rgb(242, 242, 219, 0.2);
  --arrows-hover: rgb(242, 242, 219, 0.6);
  --library-photos-border: rgb(255, 255, 255);
  --search-container-border: outset;
  --categories-tags: whitesmoke;
  --categories--tags-hover: rgba(255, 166, 0, 0.218);
  --categories-tags-border: #9f9f9f;
  --categories-tags-active: rgba(255, 166, 0, 0.518);
  --selected-month-text: #333;
  --selected-month-text-hover-bg-color: rgba(255, 166, 0, 0.453);
  --search-label-text:black;
  --search-input-border: black;
  --search-input-outline: #ff9900;
  --library-search-border: #9f9f9f;
  --messageBoard-border: #494848;
  --messageBoard-background: rgb(243, 238, 230);;
  --messageBoard-close-btn-bg-color: rgb(238, 245, 250);
  --messageBoard-close-btn-icon-color: #000000;
  --messageBoard-avatar-border: #ccc;
  --messageBoard-username: #333;
  --messageBoard-message: #555;
  --messageBoard-date: #999;
  --messageBoard-comment-wrap: #fcc680;
  --messageBoard-comment-textarea: #f0f0f0;
  --messageBoard-comment-btn: #de790d;
  --messageBoard-comment-btn-icon: #000000;
  --messageBoard-comment-btn-icon-hover: #f1ecec;
  --sidemenu-outer-bg-color: rgb(253, 253, 252);
  --sidemenu-outer-border: #ccc;
  --sidemenu-profile-bg-color: linear-gradient(to bottom right, #fddf89, #e7b663);
  --sidemenu-nav-bg-color: #ffffff;
  --sidemenu-nav-text-color: #333;
  --sidemenu-subscribe-message-bg-color: rgba(255, 166, 0, 0.842);
  --credits-links-color: rgb(16, 16, 236);
  --profile-border-color: rgb(242, 109, 0);
  --profile-border-shadow:#907709;
  --chat-profile-bg-color: #62bd02;
  --avatar-hover-bg-color: rgb(255, 225, 0);
  --avatar-hover-border: rgb(255, 225, 0);
  --avatar-selected-bg-color: rgb(94, 255, 0);
  --avatar-button-border: #dddbdb52;
  --avatar-button-bg-color: #dddbdb52;
  --login-container: rgba(231, 230, 230, 0.779);
  --login-container-border: black;
  --login-container-wrap: aliceblue;
  --login-container-wrap-border: rgb(169, 102, 0);
  --signup-login-button-color: orange;
  --signup-login-button-hover-text-color: azure;
  --signup-message-color: rgb(236, 227, 217);
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #f0f0f0;
  --container-color: #908c8c35;
  --container-gradient: rgba(255, 255, 255, 0.2);
  --container-border:#393838;
  --photo-container-color: #a89f9f35;
  --nav-bg-color: #121212;
  --title-color: #f0f0f0;
  --nav-border: #464646;
  --nav-links: #f0f0f0;
  --article-title-color: #f0f0f0;
  --article-bg-color: rgb(51, 51, 50);;
  --article-like-chat: #f0f0f0;
  --tags: #b66916;
  --tags-hover-article: #e6851a;
  --arrows: rgba(226, 226, 209, 0.543);
  --arrows-hover: rgba(243, 243, 234, 0.92);
  --library-photos-border: rgb(87, 87, 85);
  --search-container-border: none;
  --categories-tags: rgb(109, 106, 106);
  --categories--tags-hover: rgba(129, 127, 125, 0.218);
  --categories-tags-border: #7b7979;
  --categories-tags-active: #b66713;;
  --selected-month-text: #f0f0f0;
  --selected-month-text-hover-bg-color: #b66713;;
  --search-label-text:#f0f0f0;
  --search-input-border: rgb(87, 86, 86);
  --search-input-outline: rgba(162, 248, 42, 0.75);
  --selected-month-border: #a1a1a1;
  --messageBoard-border: #494848;
  --messageBoard-bg-color: #cfcfcf35;
  --messageBoard-close-btn-bg-color: rgb(46, 46, 46);
  --messageBoard-close-btn-icon-color: #fffcfc;
  --messageBoard-avatar-border: #ffffff;
  --messageBoard-username: #ffffff;
  --messageBoard-message: #f4f2f2;
  --messageBoard-date: #999;
  --messageBoard-comment-wrap: #645037;
  --messageBoard-comment-textarea: #212121;
  --messageBoard-comment-btn: #b66713;;
  --messageBoard-comment-btn-icon: #000000;
  --messageBoard-comment-btn-icon-hover: #f1ecec;
  --sidemenu-outer-bg-color: rgb(83, 83, 82);
  --sidemenu-outer-border: #414141;
  --sidemenu-profile-bg-color: linear-gradient(to bottom right, #978552, #967742);
  --sidemenu-nav-bg-color: #7b7b7b;
  --sidemenu-nav-text-color: rgb(215, 236, 250);
  --sidemenu-subscribe-message-bg-color: rgba(145, 95, 3, 0.95);
  --credits-links-color: rgba(117, 117, 255, 0.989);
  --profile-border-color: rgb(242, 109, 0);
  --profile-border-shadow:#907709;
  --chat-profile-bg-color: #62bd02;
  --avatar-hover-bg-color: rgb(184, 163, 7);
  --avatar-hover-border: rgb(255, 225, 0);
  --avatar-selected-bg-color: rgb(55, 150, 0);
  --avatar-button-border: white;
  --avatar-button-bg-color: #c0b9b9;;
  --avatar-selected-border: rgb(5, 112, 3);
  --login-container: rgba(70, 68, 68, 0.779);
  --login-container-border: black;
  --login-container-wrap-border: rgb(98, 59, 0);
  --signup-login-button-color: orange;
  --signup-login-button-hover-text-color: azure;
  --signup-message-color: rgb(147, 146, 144);
}

[data-theme="west"] {
  --bg-color: #fff3e6;
  --text-color: #663300;
  --container-color: #fff9f3;
  --container-gradient: rgba(255, 255, 255, 0.2);
  --container-border:#663300;
  --photo-container-color: #fceedf;
  --nav-bg-color: #fff3e6;
  --title-color: #000000;
  --nav-border: #000000;
  --nav-links: #000000;
  --article-title-color: #663300;
  --article-bg-color: #fff9f3;
  --article-like-chat: #663300;
  --tags: rgb(249, 232, 160);
  --tags-hover-article: #f5e104;
  --arrows: #eca05433;
  --arrows-hover: #eca0548b;
  --library-photos-border: #e1ba93;
  --search-container-border: outset;
  --categories-tags: rgb(255, 232, 193);
  --categories-tags-hover: rgb(246, 214, 158);
  --categories-tags-border: #eca05433;
  --categories-tags-active: rgba(161, 99, 0, 0.565);
  --selected-month-text: #333;
  --selected-month-text-hover-bg-color: rgba(255, 166, 0, 0.453);
  --search-label-text:#663300;
  --search-input-border: #eca054;
  --search-input-outline: #eca054;
  --library-search-border: #663300;
  --messageBoard-border: #663300;
  --messageBoard-background: #fdfbf8;
  --messageBoard-close-btn-bg-color: rgb(245, 228, 173);
  --messageBoard-close-btn-icon-color: #000000;
  --messageBoard-avatar-border: #ccc;
  --messageBoard-username: #333;
  --messageBoard-message: #555;
  --messageBoard-date: #999;
  --messageBoard-comment-wrap: #fddeb2;
  --messageBoard-comment-textarea: #f0f0f0;
  --messageBoard-comment-btn: #de9c0d;
  --messageBoard-comment-btn-icon: #000000;
  --messageBoard-comment-btn-icon-hover: #f1ecec;
  --sidemenu-outer-bg-color: rgb(251, 251, 241);
  --sidemenu-outer-border: #663300;
  --sidemenu-profile-bg-color: linear-gradient(to bottom right, #fdd289, #d9a398);
  --sidemenu-nav-bg-color: #fffffa;
  --sidemenu-nav-text-color: #333;
  --sidemenu-subscribe-message-bg-color: rgba(255, 238, 0, 0.842);
  --credits-links-color: rgb(16, 16, 236);
  --profile-border-color: rgb(222, 97, 40);
  --profile-border-shadow:#906e09e3;
  --chat-profile-bg-color: #62bd02;
  --avatar-hover-bg-color: rgb(233, 159, 152);
  --avatar-hover-border: rgb(255, 225, 0);
  --avatar-selected-bg-color: rgb(255, 174, 0);
  --avatar-button-border: none;
  --avatar-selected-border: #663300;
  --login-container: rgba(231, 230, 230, 0.779);
  --login-container-border: #663300;
  --login-container-wrap: aliceblue;
  --login-container-wrap-border: rgb(221, 159, 45);
  --signup-login-button-color: rgb(244, 199, 84);
  --signup-login-button-hover-text-color: azure;
  --signup-message-color: rgb(236, 227, 217);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}