.article-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border: 1px solid var(--container-border);
  border-top: none;
  width: 46rem;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  height: 75vh;
  overflow: hidden;
  background-color: var(--article-bg-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.title h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  color: var(--article-title-color);
}

.page-content {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.page-content.sliding {
  opacity: 0;
  transform: translateX(10px);
}

.content-grid-titlePage {
  display: grid;
  grid-template-columns: 1fr 1fr; /* image:content */
  min-height: 20rem;
  gap: 2rem;
}
.content-grid-horizontalImage {
  display: grid;
  grid-template-rows: 20rem 5rem 1rem; /* image:content */
  gap: 2rem;
  text-align: center;
}

.img-content {
  width: 100%;
  height: 100%;
}
.img-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: 'Droid Serif', serif;
  color: var(--article-title-color)
}
.content-grid-titlePage .text-content{
  padding: 1rem 0;
}

.title h2 {
  margin-bottom: 0.1rem;
}
.sub-title {
  font-size: 1.2rem;
}
.sub-title p {
  margin-bottom: 0.4rem;
}
.tags {
  display: flex;
  gap: 0.5rem;
}
.tags a {
  background-color: var(--tags);
  border-radius: 5px;
  padding: 0.3rem;
  font-size: 1.2rem;
  transition: background-color 0.2s ease;
}
.tags a:hover {
  background-color: var(--tags-hover-article);
  cursor: pointer;
}
.tags a::first-letter {
  text-transform: capitalize;
}

.content-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  z-index: 10;
}
.right-wrap {
  display: flex;
  gap: 1rem;
}
.right-wrap .chat-icon{
  height: 30px;
  width: 30px;
  fill: var(--article-like-chat);
}
.comment-chat-wrap {
  display: flex;
  gap: 0.4rem;
}
.comment-chat-wrap:hover span,          
.comment-chat-wrap:hover .chat-icon {   
  color:#dd7709;                        
  fill:#dd7709;         
  cursor: pointer;                
}

.arrow-right-btn, .arrow-left-btn {
  width: 35px;
  height: 100px;
  padding: 0.2rem;
  border: none;
  background-color:var(--arrows);
  filter: brightness(90%);
  transition: all 0.2s ease;
}
.arrow-right-btn:hover, .arrow-left-btn:hover {
  cursor: pointer;
  filter: brightness(70%);
  background-color:var(--arrows-hover);
}
.arrow-left-icon, .arrow-right-icon {
  margin-left: 5px;
}
.arrow-left-btn {
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 0 7px 7px 0;
  transform: translateY(-50%);
}
.arrow-right-btn {
  position: absolute;
  top: 50%;
  right: 0;
  border-radius: 7px 0 0 7px;
  transform: translateY(-50%);
}
.heart-btn {
  display: flex;
  gap: 0.3rem;
  background: none;
  border: none;
  color: var(--article-like-chat);
  transition: color 0.2s ease;
}

.heart-icon {
  width: 30px;
  height: 30px;
  stroke: currentColor;
  fill: currentColor;
  transition: transform 0.2s ease;
}

.like-section:hover .heart-btn:not(.liked),
.like-section:hover .heart-icon:not(.liked) {
  color: pink;
  fill: pink;
}

.heart-btn.liked .heart-icon {
  fill: pink;
  stroke: pink;
  animation: heartBeat 0.3s ease-in-out;
}


@keyframes heartBeat {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@media (max-width: 768px) {
  .content-grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  
  .article-container {
    padding: 1rem;
  }
  
  .title h2 {
    font-size: 2rem;
  }
  
  .arrow-right-btn, .arrow-left-btn {
    width: 30px;
    height: 80px;
  }
}

@media(min-width: 1290px) {
  .article-container {
    width: 65rem;
    font-size: 1.8rem;
  }
  .article-container .title h2 {
    font-size: 2.5rem;
  }
  .content-grid-titlePage {
    min-height: 22rem;
  }

  .content-grid-horizontalImage {
    grid-template-rows: 25rem 5rem 1rem; /* image:content */
  }
}