.about-container {
  display: grid;
  grid-template-rows: 5rem 1fr;
  gap: 1rem;
  padding: 2rem 4rem;
  border: 1px solid black;
  width: fit-content;
  margin: 0 auto;
  border-top: none;
  background-color: var(--photo-container-color);
}
.about-container h1 {
  text-align: center;
  border-bottom: 2px solid var(--text-color);
  color: var(--text-color);
}

.profile-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 16rem;
  border-radius: 5px;
}

.profile-content {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
}

.profile-content .description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description .pt1 {
  font-size: 1.8rem;
}
.description .pt2 {
  text-align: center;
}


.github-icon svg{
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
  transition: 0.1s ease-in-out;
}
.github-icon svg:hover{
  transform: translateY(-0.2rem);
  cursor: pointer;
}
.github-icon {
  width: 100%;
  background-color: antiquewhite;
  padding: 0.5rem;
  border: 0.5px solid black;
}

.credits-link {
  margin-top: 2rem;
  font-weight: 500;
  text-align: center;
  border-bottom: 1px solid var(--text-color);
}
.credits-link:hover {
  cursor: pointer;
  color: rgba(255, 166, 0);
  border-color: rgba(255, 166, 0);
}

.credits-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  border: 1px solid var(--container-border);
  width: fit-content;
  margin: 0 auto;
  padding: 2rem;
  border-top: none;
  background-color: var(--photo-container-color);
  overflow: auto;
}
.credits-container h1{
  color: var(--text-color);
}
.credits-container li{
  color: var(--text-color);
}
.credits-container a{
  color: var(--credits-links-color);
}
.credits-container h3 a{
  color: black;
  background-color: rgb(255, 166, 0);;
  border-radius: 7px;
  padding: 0.3rem;
}
.credits-container h3 a:hover{
  filter: brightness(110%);
}

.credits-back-btn-wrap {
  display: flex;
  align-items: center;
  float: right;
  margin-top: 1rem;
}
.credits-back-btn-wrap svg{
  fill: var(--text-color);
}
.credits-back-btn-wrap:hover {
  cursor: pointer;
}
.credits-back-btn-wrap:hover svg{
  animation: back-animation 0.5s infinite ease-in-out;
}

@keyframes back-animation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10%);
  }
}

@media(min-width: 1290px) {
  .about-container {
    padding: 2rem 6rem;
  }
  .profile-img img{
    max-width: 40rem;
    max-height: 40rem;
  }
  .profile-content {
    gap: 5rem;
  }
  .description .pt1 {
    font-size: 2rem;
  }
}