.side-menu {
  position: fixed;
  top: calc((100vh - 75vh) - 0.3rem);
  left: 0;
  transform: translateX(-100%);
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  border: 1px solid #ccc;
  border-left: none;
  padding: 1rem;
  border-radius: 0 0 6px 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease;
  margin-top: 0.2rem;
}
.menu-toggle-btn {
  padding: 0 1rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: none;
}
.nav-links button{
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.nav-links button:hover {
  color: orange;
}

/* Animate in from left */
.slide-in {
  opacity: 1;
  transform: translateX(0);
}

/* Animate out to left */
.slide-out {
  opacity: 0;
  transform: translateX(-100%);
}

/* Profile Section */
.profile {
  text-align: center;
  padding: 2rem 1rem;
  background: linear-gradient(to bottom right, #fddf89, #e7b663);
  border-radius: 1rem;
}

.profile-demo {
  text-align: center;
  padding: 0 1rem;
  padding-bottom: 1rem;
}
.profile-demo img {
  opacity: 0.3;
}
.profile-demo p {
  opacity: 0.3;
}
.profile-demo h3 {
  opacity: 0.3;
}
.subscribe-msg {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 166, 0, 0.842);
  width: 14rem;
  font-size: 1.3rem;
  border: 1px solid black;
}

.profile h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.profile img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 0 3px #fff, 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto 1rem auto;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 0.9rem;
  color: #010101;
}

.stats p:first-child {
  border-right: 1px solid #000000;
  padding-right: 1.5rem;
}
.stats p:last-child {
  padding-right: 1.5rem;
}
.not-used {
  opacity: 0.3;
}

@media(min-width: 1290px) {
  .side-menu {
    top: calc((100vh - 80vh));
    width: 20rem;
    font-size: 2rem;
  }
}